# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            form_login:
                default_target_path: /books
                provider: fos_userbundle
                csrf_token_generator: security.csrf.token_manager # Use form.csrf_provider instead for Symfony <2.4
            logout:
                invalidate_session: false
                success_handler: user.logout_success_handler
            anonymous:    true

    access_control:
        - { path: ^/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY }       
        - { path: ^/resetting, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, roles: ROLE_ADMIN }     
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/books/add, roles: ROLE_ADMIN }
        - { path: ^/books/edit, roles: ROLE_ADMIN }
        - { path: ^/books/delete, roles: ROLE_ADMIN }
        - { path: ^/books/loan, roles: ROLE_ADMIN }
        - { path: ^/books/details, roles: ROLE_ADMIN }
        - { path: ^/users/panel, roles: ROLE_READER }
        - { path: ^/users/delete, roles: [ROLE_READER, ROLE_ADMIN] }
        - { path: ^/users$, roles: ROLE_ADMIN }
        
        
            # activate different ways to authenticate

            # https://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate
            #http_basic: ~

            # https://symfony.com/doc/current/security/form_login_setup.html
            #form_login: ~
