{% extends 'base.html.twig' %}

{% block title %}
    {{ 'page.admin_panel'|trans }}
{% endblock %}

{% block body %}
{% include 'login_panel.html.twig' %}

    <h1>{{ 'page.admin_panel'|trans }}</h1>

    <a href="{{ path('users') }}">{{'show.users'|trans}}</a>

{% include 'admin/reservations_loans.html.twig' %}

{% endblock %}